body {
  background-color: #070707;
}

.player {
  position:relative;
  width: 400px;
  height: 250px;
  border: 1px solid #09f;
}

.card {
  position: absolute;
  top: 0px;
  left: 0px;
  transition: -webkit-transform         0.5s;
  -moz-transition: -webkit-transform    0.5s; /* Firefox 4 */
  -webkit-transition: -webkit-transform 0.5s; /* Safari and Chrome */
  -o-transition: -webkit-transform      0.5s; /* Opera */
  width: 75px;
  height: 100px;
  border: 1px solid #999;
  background-color: #09f;
  z-index: 1;
}

.card-hovering-rider {
  -webkit-transform:rotate(90deg);
}

.stack {
  position: absolute;
  top: 50px;
  left: 120px;
  width:77px;
  height: 102px;
  border: 1px solid red;
}

.rider {
  position: absolute;
  bottom: 0px;
  left: 50%;
  margin-left: -50px;
  height: 75px;
  width: 100px;
  border: 1px solid #000;
  background-color: #222;
  z-index: 0;
}

/* Added to each rider that does not have a card already on it during a card drag event */
.available-rider {
  border: 1px solid #CCC;
  background-color: #777;
}

a {
  color: #DDD;
}