body {
  background-color: #070707;
  
  /* no scrolling */
  overflow: hidden;
  
  /* Disable text selection */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.player {
  float:left;
  position:relative;
  width: 300px;
  height: 200px;
  border: 1px dashed #87A;
}

.card {
  position: absolute;
  top: 0px;
  left: 0px;
  transition: -webkit-transform         0.25s;
  -moz-transition: -webkit-transform    0.25s; /* Firefox 4 */
  -webkit-transition: -webkit-transform 0.25s; /* Safari and Chrome */
  -o-transition: -webkit-transform      0.25s; /* Opera */
  width: 75px;
  height: 100px;
  border: 1px solid #999;
  background-color: #09f;
  z-index: 1;
}

/* an animated card for use during the deal animation */
.animated.card {
  -webkit-transition-property: top, left;
  -moz-transition-property: top, left;
  -o-transition-property: top, left;
  transition-property: top, left;

  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function:    ease-out;
  -o-transition-timing-function:      ease-out;
  transition-timing-function:         ease-out;  
}

.card-hovering-rider {
  -webkit-transform:rotate(90deg);
}

.stack {
  position: relative;
  float: left;
  top: 0px;
  margin-left: 40px;
  width:77px;
  height: 102px;
/*  border: 1px solid red;*/

  -moz-box-shadow:    3px 3px 5px #999; /* FF3.5+ */
  -webkit-box-shadow: 3px 3px 5px #999; /* Saf3+, Chrome */
  box-shadow:         3px 3px 5px #999; /* Standard. Opera 10.5, IE9 */
}

.rider {
  position: absolute;
  bottom: 0px;
  left: 50%;
  margin-left: -50px;
  height: 75px;
  width: 100px;
  border: 1px solid #000;
  background-color: #222;
  z-index: 0;
}
/* a card on a rider */
.rider > .card {
  -webkit-transform:rotate(90deg);
}

/* Added to each rider that does not have a card already on it during a card drag event */
.available-rider {
  border: 1px solid #CCC;
  background-color: #777;
}

a {
  color: #DDD;
}
