<html>
<head>
  <script src="http://code.angularjs.org/angular-1.0.1.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.js" type="text/javascript"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.3.3/underscore-min.js" type="text/javascript" charset="utf-8"></script>
  <script src="app.js" type="text/javascript" charset="utf-8"></script>
  <link rel="stylesheet" href="css/styles.css" type="text/css">
</head>
<body>
  <div id="app" ng-app="falling" ng-controller="GameController">
    <card hand id="hand" class="card" ng-show="getMyHand()">{{getMyHand().number}}</card>
    <div>
      <!-- TODO: add card class into directive -->
      <div class="player" ng-repeat="(pnum, player) in gameState.players" id="player-{{pnum}}">
        <div ng-repeat="stack in getStacks(pnum)">
          <card ng-repeat="card in stack" class="card">Card {{$index}}</card>
        </div>
          <rider class="rider">
            <card class="card" ng-show="rider.card">{{rider.card.number}}</card>
          </rider>
      </div>
    </div>
  </div>
</body>
<html>